@import 
url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono:ital,wght@0,700;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #261C2C;
    min-height: 100vh;
}
/* @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(7px, 0px); }
    100%   { transform: translate(0, -0px); }   
}*/

@keyframes spin3D {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
  }

.lotus {
    margin-left: 2rem;
    margin-top: 1rem;
    animation: spin3D ease-in infinite 3s;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav li {
    font-size: 1.2rem;
    margin-right: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    color:#DBE6FD;
}
a:visited {
    color: #DBE6FD;
    text-decoration: none;
}
a:link {
    text-decoration: none;
  }

a:hover {
    background-color:#5C527F;
}
a:active {
    background-color: #6E85B2;
  }

.navy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.card {
    background-color: #6E85B2;
    border: #5C527F 8px ridge;
    margin: 0 auto;
    width: 40rem;
    height: 50rem;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }}

.star {
    animation: blink 2.5s infinite;
}

.card-text p {
    font-family: 'Space Mono', monospace;
    padding: .5rem 1.7rem 0 1.7rem;
    line-height: 2rem;
}

.card-text h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    padding: 1rem 1.5rem 0 1.5rem;
    line-height: 2.5rem;
}
.butts {
    padding: 1.5rem 1.5rem 0 1.5rem; 
}

.butts button {
    background-color: #261C2C;
    color: #6E85B2;
    border: none;
    padding: .8rem;
    font-family: 'Press Start 2P', cursive;
    border: #5C527F .3rem ridge;
}

div .eform {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}
.forminputs, textarea {
    width:100%;
    margin-top: .5rem;
    font-family: 'Space Mono', monospace;

}